<nav>
  <div class="filters-select">
    <div class="filters-select__container">
      <div *ngFor="let filter of filters" class="filters-select__container__item">
        <p>{{filter}}</p>
        <div class="filters-select__container__item__close" (click)="removeFilter(filter)">X</div>
      </div>
    </div>
  </div>
</nav>
<div>
  <ul>
    <li *ngFor="let job of jobs" class="card">
      <img [src]="job.logo" [alt]="job.company" class="logo">
      <div class="card-header">
        <h3 class="card-header__company">{{ job.company }}</h3>
        <p *ngIf="job.new" class="card-header__new">NEW!</p>
        <p *ngIf="job.featured" class="card-header__featured">FEATURED</p>
      </div>
      <div class="card-body">
        <h2 class="card-body__position">{{ job.position }}</h2>
        <ul class="card-body__details">
          <li>{{ job.postedAt }}</li>
          <li>{{ job.contract }}</li>
          <li>{{ job.location }}</li>
        </ul>
      </div>
      <div class="langeages">
        <ul>
          <li *ngFor="let language of job.languages">{{language}}</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div class="filters">
  <div class="filters__container">
    <div class="filters__container__item">
      <p>Role</p>
      <ul>
        <li *ngFor="let role of roles" (click)="addFilter(role)" class="filters__container__item__role">{{role}}</li>
      </ul>
    </div>
    <div class="filters__container__item">
      <p>Level</p>
      <ul>
        <li *ngFor="let level of levels" (click)="addFilter(level)" class="filters__container__item__level">{{level}}</li>
      </ul>
    </div>
    <div class="filters__container__item">
      <p>Language</p>
      <ul>
        <li *ngFor="let language of languages" (click)="addFilter(language)" class="filters__container__item__language">{{language}}</li>
      </ul>
    </div>
    <div class="filters__container__item">
      <p>Tools</p>
      <ul>
        <li *ngFor="let tool of tools" (click)="addFilter(tool)" class="filters__container__item__tool">{{tool}}</li>
      </ul>
    </div>
  </div>
  <div class="filters__container__item__clear" (click)="clearFilters()">Clear</div>
</div>
